{% extends 'base-account.html' %}
{% block account %}
<div class="container main-container">
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
            <div class="logo-area text-center mb-3">
                <a href="#"><img src="./assets/img/logo.png" class="img-fluid" alt="logo"></a>
            </div>
            <div class="auth-wrapper form-ui border pt-4">
                <div class="section-title title-wide mb-1 no-after-title-wide">
                    <h2 class="font-weight-bold"> ثبت آدرس</h2>
                </div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-row-title">
                        <h3>استان و شهر</h3>
                    </div>
                    <div class="form-row">
                        <div class="ir-select w-100">
                            <select class="ir-province input-ui pr-2 mb-2" id="state"></select>
                            <select class="ir-city input-ui pr-2" id="city"></select>

                        </div>
                    </div>
                    <div class="form-row-title">
                        <h3>آدرس</h3>
                    </div>
                    <div class="form-row">
                        <input type="text" id="street" class="input-ui pr-2" name="street" placeholder="خیابان خود را وارد کنید">
                    </div>
                    <div class="form-row-title">
                        <h3>کد پستی</h3>
                    </div>
                    <div class="form-row">
                        <input type="text" id="zip_code" class="input-ui pr-2"  name="zip_code" placeholder="کد پستی خود را وارد کنید">
                    </div>
                    <div class="form-row-title">
                        <h3>پلاک</h3>
                    </div>
                    <div class="form-row">
                        <input type="text" id="plate" class="input-ui pr-2" name="plate" placeholder="پلاک خود را وارد کنید">
                    </div>
                    <div class="form-row-title">
                        <h3>واحد</h3>
                    </div>
                    <div class="form-row">
                        <input type="text" id="unit" class="input-ui pr-2" name="unit" placeholder="واحد خود را وارد کنید">
                    </div>
                    <div class="form-row mt-3">
                        <button type="button" id="submit-button-address" class="btn-primary-cm btn-with-icon mx-auto w-100">
                            ثبت آدرس 
                        </button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
