{% extends 'base-account.html' %}
{% block account %}
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <a href="index.html" class="logo-account"><img src="assets/images/logo-login.png" alt="logo"></a>
                <span class="account-head-line">ثبت نام در دیجی کالا</span>
                <div class="content-account">
                    {% comment %} <div class="massege-light">ثبت نام تنها با شماره تلفن همراه امکان پذیر است.</div> {% endcomment %}
                    <form action method="post" id="register">
                        {% csrf_token %}
                        <label for="code-phone">کد تایید</label>
                        {{form.code}}
                        <div class="parent-btn">
                            <button type="submit" class="dk-btn text-center dk-btn-info">
                                تایید موبایل
                                <i class="mdi mdi-account-plus-outline sign-in"></i>
                            </button>
                        </div>
                        <div class="form-auth-row"></div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}